.header-wrapper {
  width: 100%;
  border-bottom: 1px solid #bababa;
}
.header-wrapper .header {
  padding: 0 2rem;
  max-width: 128rem;
  min-width: 76.8rem;
  margin: 0 auto;
}
.header-wrapper .header h1 {
  float: left;
  display: flex;
  align-items: center;
  width: 20rem;
  height: 9rem;
}
.header-wrapper .header h1 .logo_KoreanAir {
  width: 16.2rem;
  height: 5.4rem;
}
.header-wrapper .header h1 .logo_KoreanAir img {
  max-width: 100%;
}
.header-wrapper .header h1 .logo_SkyTeam {
  width: 3.8rem;
  height: 5.4rem;
}
.header-wrapper .header h1 .logo_SkyTeam img {
  max-width: 100%;
}
.header-wrapper .header .member-nav {
  float: right;
}
.header-wrapper .header .member-nav ul {
  display: flex;
  height: 9rem;
  align-items: center;
  justify-content: center;
}
.header-wrapper .header .member-nav ul li:not(:first-of-type) {
  padding-left: 10px;
}
.header-wrapper .header .member-nav ul .util-link {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  width: 4.4rem;
  height: 4.4rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 44px 44px;
  transition: background-size 0.2s;
}
.header-wrapper .header .member-nav ul .util-link.login-btn {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/util__link--login.svg);
}
.header-wrapper .header .member-nav ul .util-link.alarm-btn {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/util__link--alram-off.svg);
}
.header-wrapper .header .member-nav ul .util-link.cart-btn {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/util__link--cart-off.svg);
}
.header-wrapper .header .member-nav ul .util-link.search-btn {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/util__link--search.svg);
}
.header-wrapper .header .member-nav ul .util-link:hover {
  background-size: 50px 50px;
}
.header-wrapper .header .main-nav {
  width: 350px;
  margin: 0 auto;
  height: 9rem;
  padding-top: 3.5rem;
}
.header-wrapper .header .main-nav .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-wrapper .header .main-nav .menu .menu-item button {
  font-size: 1.8rem;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.route-carousel {
  width: 100%;
  max-width: 184rem;
  min-width: 76.8rem;
  padding: 0 2rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.route-carousel .nav_wrapper {
  max-width: 128rem;
  position: relative;
  margin: 0 auto;
}
.route-carousel .nav_wrapper .route-carousel__nav {
  position: absolute;
  left: 1.5rem;
  top: 40rem;
  background-color: #00000080;
  color: #fff;
  border-radius: 1.5rem;
  padding: 3px 6px;
  z-index: 9999;
}
.route-carousel .nav_wrapper .route-carousel__nav button {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 200%;
  width: 2.8rem;
  height: 2.8rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2.4rem 2.4rem;
  border: 0;
  cursor: pointer;
}
.route-carousel .nav_wrapper .route-carousel__nav button:hover {
  outline: 2px solid blue;
}
.route-carousel .nav_wrapper .route-carousel__nav .prevBtn {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/carousel-icon-prev-ctrl.svg);
}
.route-carousel .nav_wrapper .route-carousel__nav .nextBtn {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/carousel-icon-next-ctrl.svg);
}
.route-carousel .route-carousel__wrap {
  margin: 0 auto;
}
.route-carousel .route-carousel__wrap div {
  position: relative;
}
.route-carousel .route-carousel__wrap div img {
  width: 100%;
  height: 48rem;
  object-fit: cover;
}
.route-carousel .route-carousel__wrap div .carousel_explain_wrapper {
  max-width: 128rem;
  margin: 0 auto;
  position: absolute;
  left: 4rem;
  right: 0;
  top: 12.5rem;
}
.route-carousel .route-carousel__wrap div .carousel_explain_wrapper .carousel_explain {
  display: inline-block;
  text-shadow: 0.1rem 0.1rem 0.3rem #fff;
  z-index: 9999;
}
.route-carousel .route-carousel__wrap div .carousel_explain_wrapper .carousel_explain p {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.route-carousel .route-carousel__wrap div .carousel_explain_wrapper .carousel_explain p .small {
  font-size: 1.7rem;
}
.route-carousel .route-carousel__wrap div .carousel_explain_wrapper .carousel_explain .readmore {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}
.route-carousel .route-carousel__wrap div .carousel_explain_wrapper .carousel_explain .readmore::after {
  content: "";
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-size: cover;
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/right.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 1rem;
}
.route-carousel .route-carousel__wrap div .carousel_explain_wrapper .carousel_explain .readmore:hover {
  text-decoration: underline;
}

.wide-top {
  position: absolute;
  top: 11rem;
  width: 100%;
  min-width: 93rem;
  padding-bottom: 54rem;
  height: 0;
  overflow: hidden;
}
.wide-top .quickBooking-wrapper {
  max-width: 128rem;
  margin: 0 auto;
  min-width: 76.8rem;
}
.wide-top .quickBooking-wrapper .quickBooking {
  display: flex;
  padding-bottom: 1.2rem;
  margin-right: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 3, 94, 0.79);
  width: 40rem;
  float: right;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  position: relative;
}
.wide-top .quickBooking-wrapper .quickBooking .quickBooking-tabs {
  border-radius: 2.2rem;
  background-color: #65728a;
  margin: 2rem 0 1rem 0;
}
.wide-top .quickBooking-wrapper .quickBooking .quickBooking-tabs .tab {
  height: 3.6rem;
  padding: 0 2rem;
  display: inline-block;
}
.wide-top .quickBooking-wrapper .quickBooking .quickBooking-tabs .tab button {
  color: #fff;
  height: 3.6rem;
  padding: 0 0.2rem;
  font-size: 1.6rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.wide-top .quickBooking-wrapper .quickBooking .quickBooking-tabs .tab button:hover {
  text-decoration: underline;
}
.wide-top .quickBooking-wrapper .quickBooking .quickBooking-tabs .normalTrip {
  padding: 0 2rem;
  background-color: #0064de;
  border-radius: 2.2rem;
}
.wide-top .quickBooking-wrapper .quickBooking .quickBooking-tabs .normalTrip button {
  width: 6rem;
  font-weight: 700;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip {
  width: 40rem;
  padding: 0 1rem;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner {
  background-color: #fff;
  padding: 1rem 1.3rem 0;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner fieldset {
  display: flex;
  padding: 1.5rem 0 1rem 0;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner fieldset .selection {
  position: relative;
  display: inline-block;
  padding: 0 1.5rem;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner fieldset .selection input {
  opacity: 0;
  position: absolute;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner fieldset .selection label {
  display: inline-block;
  font-weight: 700;
  position: relative;
  height: 2.3rem;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner fieldset .selection label.checked::before {
  content: "";
  width: 100%;
  height: 0.3rem;
  background-color: #0064de;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  position: absolute;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .booking-location {
  width: 100%;
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .booking-location .selectBtn {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  border-radius: 0.4rem;
  background-color: transparent;
  cursor: pointer;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .booking-location .selectBtn .code {
  font-size: 2.6rem;
  font-weight: 700;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .booking-location .selectBtn .airport {
  font-size: 1.4rem;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .booking-location .selectBtn:hover {
  outline: 1.5px solid #0064de;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .booking-location .selectFrom {
  order: 1;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .booking-location .selectTo {
  order: 3;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .booking-location .reverseBtn {
  order: 2;
  background-image: url(https://www.koreanair.com/booking__swap--disabled.svg);
  border: 0;
  border-radius: 50%;
  width: 4.4rem;
  height: 4.4rem;
  cursor: pointer;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .datePicker-wrapper {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  border-top: 0.1rem solid #c4c4c4;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .datePicker-wrapper .datePicker {
  width: 100%;
  height: 4.8rem;
  border: 0;
  background-color: transparent;
  font-size: 1.6rem;
  color: #727272;
  cursor: pointer;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .datePicker-wrapper .datePicker .unselected {
  position: relative;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .datePicker-wrapper .datePicker .unselected::before {
  content: "";
  position: absolute;
  width: 2.9rem;
  height: 3rem;
  top: -0.5rem;
  left: -3rem;
  background-image: url(https://www.koreanair.com/quickbooking__calendar.svg);
  background-repeat: no-repeat;
  background-size: 2.9rem 3rem;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .aligner .datePicker-wrapper .datePicker:hover {
  outline: 1px solid #0064de;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .quickBooking_label {
  font-size: 1.6rem;
  color: #767676;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .passengers {
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 0.5rem 1.8rem;
  margin: 0.8rem 0;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .passengers button {
  border: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.6rem;
  background-image: url(https://www.koreanair.com/quickbooking__passenger.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .passengers button .quickBooking_select-data {
  font-size: 1.6rem;
  padding-right: 2.5rem;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .passengers button:hover {
  outline: 1px solid #0064de;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .seatClass {
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 0.5rem 2.3rem;
  margin: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wide-top .quickBooking-wrapper .quickBooking .tabNormalTrip .seatClass .select {
  border: 0;
  font-size: 1.6rem;
  height: 4.6rem;
  text-align: right;
}
.wide-top .quickBooking-wrapper .quickBooking .checkNearDate {
  font-size: 1.6rem;
  color: #fff;
  align-self: flex-start;
  padding: 0 1rem;
}
.wide-top .quickBooking-wrapper .quickBooking .checkNearDate input {
  border: 1px solid #fff;
  width: 1.6rem;
  height: 1.6rem;
}
.wide-top .quickBooking-wrapper .quickBooking .checkNearDate label {
  padding-left: 0.3rem;
  line-height: 1.6rem;
  vertical-align: text-top;
}
.wide-top .quickBooking-wrapper .quickBooking .quickBooking-options {
  padding: 0.8rem 1rem;
  align-self: flex-end;
}
.wide-top .quickBooking-wrapper .quickBooking .quickBooking-options button {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  border: 0;
  background-color: transparent;
  padding-right: 2rem;
  background-image: url(https://www.koreanair.com/ico-right-white.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
}
.wide-top .quickBooking-wrapper .quickBooking .quickBooking-options button:hover {
  outline: 0.15rem solid #fff;
}
.wide-top .quickBooking-wrapper .quickBooking .search {
  padding: 0 1rem;
  width: 100%;
}
.wide-top .quickBooking-wrapper .quickBooking .search .searchBtn {
  background-color: #0064de;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  border-radius: 0.8rem;
  width: 100%;
  height: 5rem;
  padding: 1rem 3rem;
  cursor: pointer;
}
.wide-top .quickBooking-wrapper .quickBooking .search .searchBtn:hover {
  outline: 0.2rem solid #fff;
}
.wide-top .quickBooking-wrapper .quickBooking::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 31rem;
  height: 100%;
  background-color: rgba(0, 3, 94, 0.79);
  border-bottom-right-radius: 7rem;
}

.frequently-used {
  width: 100%;
  padding-top: 9rem;
}
.frequently-used ul {
  display: flex;
  justify-content: center;
  max-width: 128rem;
  min-width: 76.8rem;
  margin: 0 auto;
}
.frequently-used ul li {
  position: relative;
  width: 35rem;
  text-align: center;
}
.frequently-used ul li a {
  padding-left: 5rem;
  display: inline-block;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  font-weight: 700;
  background-repeat: no-repeat;
  cursor: pointer;
}
.frequently-used ul li a:hover {
  text-decoration: underline;
}
.frequently-used ul li:not(:first-of-type)::before {
  content: "";
  width: 0.15rem;
  height: 2rem;
  background-color: #ccc;
  position: absolute;
  top: 1.5rem;
  left: 0;
}
.frequently-used ul li:nth-child(1) a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/mfnb__booking.svg);
}
.frequently-used ul li:nth-child(2) a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/mfnb__checkin.svg);
}
.frequently-used ul li:nth-child(3) a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/mfnb__schedule.svg);
}

.fst-banner,
.sec-banner {
  width: 100%;
  margin-top: 6rem;
}
.fst-banner a,
.sec-banner a {
  display: block;
  margin: 0 auto;
  padding: 3.3rem 0 3.3rem 4rem;
  max-width: 128rem;
  min-width: 76.8rem;
  height: 12rem;
  background-size: cover;
  background-position-y: -1rem;
  background-position-x: right;
  background-repeat: no-repeat;
  color: #00256c;
}
.fst-banner a span,
.sec-banner a span {
  display: block;
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.fst-banner a p,
.sec-banner a p {
  font-size: 1.6rem;
}
.fst-banner a:hover,
.sec-banner a:hover {
  text-decoration: underline;
}

.fst-banner > a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/tibb__bg-pc-03.png);
}

.sec-banner > a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/tibb__bg-pc_blue.png);
}

.trip-carousel-wrapper {
  width: 100%;
  min-width: 76.8rem;
  padding: 0 2rem;
  background: linear-gradient(to bottom, #fff 29%, #f2f2f8 0%);
}
.trip-carousel-wrapper .trip-carousel {
  max-width: 128rem;
  margin: 6rem auto 0;
  position: relative;
}
.trip-carousel-wrapper .trip-carousel h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.trip-carousel-wrapper .trip-carousel ul {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.trip-carousel-wrapper .trip-carousel ul li {
  min-width: 23.2rem;
  width: 19.9rem;
  position: relative;
  border: 1px solid transparent;
}
.trip-carousel-wrapper .trip-carousel ul li a {
  display: block;
  width: 100%;
  height: 29.47rem;
  background-size: cover;
  padding: 2rem 2.2rem;
}
.trip-carousel-wrapper .trip-carousel ul li a span {
  display: block;
  font-size: 1.6rem;
}
.trip-carousel-wrapper .trip-carousel ul li a .location {
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.trip-carousel-wrapper .trip-carousel ul li a .seat {
  margin-bottom: 0.5rem;
}
.trip-carousel-wrapper .trip-carousel ul li a .price {
  font-weight: 700;
  color: #11277b;
}
.trip-carousel-wrapper .trip-carousel ul li:hover {
  border: 1px solid #0064de;
}
.trip-carousel-wrapper .trip-carousel ul li:not(:first-of-type) {
  margin-left: 3rem;
}
.trip-carousel-wrapper .trip-carousel ul li:nth-child(1) a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/airport-img/DXB-list-pc.jpg);
}
.trip-carousel-wrapper .trip-carousel ul li:nth-child(2) a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/airport-img/FUK-list-pc.jpg);
}
.trip-carousel-wrapper .trip-carousel ul li:nth-child(3) a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/airport-img/HKT-list-pc.jpg);
}
.trip-carousel-wrapper .trip-carousel ul li:nth-child(4) a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/airport-img/CNX-list-pc.jpg);
}
.trip-carousel-wrapper .trip-carousel ul li:nth-child(5) a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/airport-img/BCN-list-pc.jpg);
}
.trip-carousel-wrapper .trip-carousel ul li:nth-child(6) a {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/airport-img/HAN-list-pc.jpg);
}
.trip-carousel-wrapper .trip-carousel button {
  width: 3rem;
  height: 6rem;
  background-color: transparent;
  background-size: cover;
  border: 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.trip-carousel-wrapper .trip-carousel button:hover {
  outline: 1px solid #0064de;
}
.trip-carousel-wrapper .trip-carousel button.prevBtn {
  left: 0;
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/mris__button-left.svg);
}
.trip-carousel-wrapper .trip-carousel button.nextBtn {
  right: 0;
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/mris__button-right.svg);
}

.two-columns-banner-wrapper {
  width: 100%;
  min-width: 76.8rem;
  padding: 4rem 2rem;
  background-color: #f2f2f8;
}
.two-columns-banner-wrapper .two-columns-banner {
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.two-columns-banner-wrapper .two-columns-banner a {
  display: inline-block;
  background-color: #fff;
  border: 0.1rem solid #fff;
  width: 49%;
  height: 10.9rem;
  padding: 2.8rem 8.4rem 2.2rem 4rem;
  font-size: 1.6rem;
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/m2ba__link.svg);
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
}
.two-columns-banner-wrapper .two-columns-banner a .title {
  font-weight: 700;
}
.two-columns-banner-wrapper .two-columns-banner a .text {
  margin-top: 1rem;
}
.two-columns-banner-wrapper .two-columns-banner a:hover {
  border-color: #0064de;
}

.skypass-grade-information-wrapper {
  width: 100%;
  margin-top: 6rem;
  padding: 0 2rem;
  padding-bottom: 5rem;
  position: relative;
}
.skypass-grade-information-wrapper .skypass-grade-information {
  max-width: 128rem;
  min-width: 74.8rem;
  margin: 0 auto;
  display: flex;
}
.skypass-grade-information-wrapper .skypass-grade-information img {
  width: 62.6rem;
  margin-right: 8vw;
}
.skypass-grade-information-wrapper .skypass-grade-information .information {
  margin-top: 6rem;
  padding-right: 2.5rem;
}
.skypass-grade-information-wrapper .skypass-grade-information .information .title {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.skypass-grade-information-wrapper .skypass-grade-information .information .desc {
  font-size: 1.6rem;
  color: #555555;
}
.skypass-grade-information-wrapper .skypass-grade-information .information a {
  display: block;
  margin-top: 3.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #00256c;
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/msgi__link.svg);
  background-repeat: no-repeat;
  background-position: 9rem 50%;
}
.skypass-grade-information-wrapper .skypass-grade-information .information a:hover {
  text-decoration: underline;
}
.skypass-grade-information-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #dcf6fd;
  border-bottom-right-radius: 5rem;
  width: 50vw;
  min-width: 67rem;
  height: 28.4rem;
  z-index: -1;
}

.additional-service-link-wrapper {
  width: 100%;
  margin-top: 6rem;
  min-width: 76.8rem;
  padding: 0 2rem 10rem 2rem;
}
.additional-service-link-wrapper .additional-service-link {
  max-width: 128rem;
  margin: 0 auto;
}
.additional-service-link-wrapper .additional-service-link h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.53;
  margin-bottom: 2rem;
}
.additional-service-link-wrapper .additional-service-link ul {
  border: 0.1rem solid #d9dbe1;
  padding: 2.4rem 0 2.8rem 0;
}
.additional-service-link-wrapper .additional-service-link ul li {
  float: left;
  position: relative;
  width: calc(((100%) - 1.95rem) / 6);
  padding: 0 1.3rem 0 1.4rem;
}
.additional-service-link-wrapper .additional-service-link ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additional-service-link-wrapper .additional-service-link ul li a .icon {
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 0.8rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.additional-service-link-wrapper .additional-service-link ul li a span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.64;
}
.additional-service-link-wrapper .additional-service-link ul li a:hover {
  text-decoration: underline;
}
.additional-service-link-wrapper .additional-service-link ul li:not(:first-of-type)::before {
  content: "";
  display: block;
  width: 0.1rem;
  height: 4rem;
  background-color: #d9dbe1;
  position: absolute;
  top: calc(50% - 2rem);
  left: 0;
}
.additional-service-link-wrapper .additional-service-link ul li:nth-child(1) a .icon {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/masl__credit-card-pc.png);
}
.additional-service-link-wrapper .additional-service-link ul li:nth-child(2) a .icon {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/masl__hotel-pc.png);
}
.additional-service-link-wrapper .additional-service-link ul li:nth-child(3) a .icon {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/masl__rental-car-pc.png);
}
.additional-service-link-wrapper .additional-service-link ul li:nth-child(4) a .icon {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/masl__duty-free-pc.png);
}
.additional-service-link-wrapper .additional-service-link ul li:nth-child(5) a .icon {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/masl__insurance-pc.png);
}
.additional-service-link-wrapper .additional-service-link ul li:nth-child(6) a .icon {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/masl__guide-book-pc.png);
}

footer {
  width: 100%;
  margin-bottom: 2rem;
}
footer .footer-menu-wrapper {
  width: 100%;
  min-width: 76.8rem;
  padding: 0 2rem;
  border-top: 1px solid #d9dbe1;
  background-color: #f3f4f8;
  padding-top: 3.9rem;
  padding-bottom: 3.5rem;
}
footer .footer-menu-wrapper .footer-menu {
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
}
footer .footer-menu-wrapper .footer-menu .menus {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
footer .footer-menu-wrapper .footer-menu .menus .column {
  width: 26%;
}
footer .footer-menu-wrapper .footer-menu .menus .column h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
}
footer .footer-menu-wrapper .footer-menu .menus .column li {
  margin: 0.8rem 0;
}
footer .footer-menu-wrapper .footer-menu .menus .column li a {
  font-size: 1.4rem;
  color: #555555;
}
footer .footer-menu-wrapper .footer-menu .menus .column li a:hover {
  text-decoration: underline;
}
footer .footer-menu-wrapper .footer-menu .menus .column:nth-child(2) {
  width: 22%;
}
footer .footer-menu-wrapper .footer-menu .menus .column:nth-child(4) {
  border-right: 0.1rem solid #d9dbe1;
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns {
  margin-bottom: 2rem;
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns .sns {
  display: inline-block;
  width: 100%;
  text-align: right;
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns .sns li {
  display: inline-block;
  background-size: 4.4rem 4.4rem;
  background-position: center center;
  background-repeat: no-repeat;
  padding-left: 0.8rem;
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns .sns li a {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns .sns li:nth-child(1) {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/sns__link--youtube.svg);
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns .sns li:nth-child(2) {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/sns__link--instagram.svg);
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns .sns li:nth-child(3) {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/sns__link--facebook.svg);
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns .sns li:nth-child(4) {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/sns__link--twitter.svg);
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut__appstore .appStore {
  display: flex;
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut__appstore .appStore li {
  background-size: cover;
  margin-left: 1.6rem;
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut__appstore .appStore li a {
  display: block;
  width: 11.8rem;
  height: 3.4rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut__appstore .appStore li:nth-child(1) {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/banner-googleplay.svg);
}
footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut__appstore .appStore li:nth-child(2) {
  background-image: url(https://www.koreanair.com/content/dam/koreanair/ko/main/banner-appstore.svg);
}
footer .language-wrapper {
  padding: 0 2rem;
}
footer .language-wrapper .lang {
  max-width: 128rem;
  min-width: 76.8rem;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  font-size: 1.4rem;
}
footer .language-wrapper .lang button {
  border: 0;
  border-right: 0.1rem solid #d9dbe1;
  background-color: transparent;
  padding: 0 2.9rem 0 2rem;
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/lang__button.svg), url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/lang__arrow.svg);
  background-size: 1.5rem 1.5rem, 1rem 1rem;
  background-position: 0px 45%, 90% 45%;
  background-repeat: no-repeat;
}
footer .language-wrapper .lang button:hover {
  text-decoration: underline;
}
footer .language-wrapper .lang .lang-list {
  margin-left: 1.3rem;
}
footer .language-wrapper .lang .lang-list li {
  display: inline-block;
  margin-right: 1.7rem;
}
footer .language-wrapper .lang .lang-list .select {
  font-weight: 700;
  text-decoration: underline;
}
footer .contact-wrapper {
  width: 100%;
  border-top: 0.1rem solid #e7eaf0;
  padding: 2rem 2rem 0 2rem;
}
footer .contact-wrapper .contact {
  max-width: 128rem;
  min-width: 76.8rem;
  margin: 0 auto;
}
footer .contact-wrapper .contact .info {
  float: left;
  line-height: 2rem;
}
footer .contact-wrapper .contact .info strong {
  margin-right: 2rem;
  font-weight: 700;
  color: #00256c;
}
footer .contact-wrapper .contact .info span {
  color: #767676;
}
footer .contact-wrapper .contact .info .borderLeft {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 0.1rem solid #e7eaf0;
}
footer .contact-wrapper .contact .certification-marks {
  float: right;
  display: flex;
}
footer .contact-wrapper .contact .certification-marks button,
footer .contact-wrapper .contact .certification-marks a {
  border: 1px solid #fff;
  display: block;
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 1rem;
}
footer .contact-wrapper .contact .certification-marks button:hover,
footer .contact-wrapper .contact .certification-marks a:hover {
  border: 0.15rem solid #0064de;
  border-radius: 0.3rem;
}
footer .contact-wrapper .contact .certification-marks li:nth-child(1) button {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/logo__wa.svg);
}
footer .contact-wrapper .contact .certification-marks li:nth-child(2) button {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/logo__isms-m.png);
}
footer .contact-wrapper .contact .certification-marks li:nth-child(3) a {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/logo__ccm-m.png);
}
footer .contact-wrapper .contact .certification-marks li:nth-child(4) a {
  background-image: url(https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/layout/logo__skytrax-m.png);
}
footer .copyright-wrapper {
  padding: 0 2rem;
}
footer .copyright-wrapper .copyright {
  max-width: 128rem;
  min-width: 76.8rem;
  margin: 0.8rem auto;
  font-size: 1.4rem;
}

@media all and (max-width: 900px) {
  .header-wrapper .header .main-nav {
    width: 294px;
  }

  .two-columns-banner-wrapper .two-columns-banner a {
    width: 100%;
    margin: 1rem 0;
  }

  .skypass-grade-information-wrapper .skypass-grade-information {
    flex-wrap: wrap;
  }
  .skypass-grade-information-wrapper .skypass-grade-information img {
    width: 100%;
  }
  .skypass-grade-information-wrapper .skypass-grade-information .information {
    padding-left: 2rem;
  }
  .skypass-grade-information-wrapper::before {
    width: calc(100% - 4rem);
    padding-right: 2rem;
    min-width: 74.8rem;
    border-bottom-right-radius: 22rem;
  }

  footer .footer-menu-wrapper .footer-menu {
    flex-direction: column;
  }
  footer .footer-menu-wrapper .footer-menu .menus .column:nth-child(4) {
    border-right: 0;
  }
  footer .footer-menu-wrapper .footer-menu .shortcut-wrapper {
    margin-top: 3rem;
  }
  footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns {
    display: inline-block;
  }
  footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut-sns .sns {
    text-align: left;
    margin: 0;
  }
  footer .footer-menu-wrapper .footer-menu .shortcut-wrapper .shortcut__appstore {
    display: inline-block;
    vertical-align: top;
  }
  footer .contact-wrapper .contact .certification-marks {
    float: left;
  }
}

/*# sourceMappingURL=style.css.map */
